In [2]:
import pandas as pd

In [3]:
pop = './data/201908_201908_주민등록인구및세대현황_월간.csv'

In [4]:
pop

'./data/201908_201908_주민등록인구및세대현황_월간.csv'

In [5]:
df_pop = pd.read_csv(pop, engine="python")

In [6]:
df_pop

,행정구역,2019년08월_총인구수,2019년08월_세대수,2019년08월_세대당 인구,2019년08월_남자 인구수,2019년08월_여자 인구수,2019년08월_남여 비율
0,전국 (0000000000000),"51,349,072","21,941,330",2.34,"25,613,980","25,735,092",1.00
1,서울특별시 (1100000000),"9,577,030","4,183,595",2.29,"4,672,262","4,904,768",0.95
2,부산광역시 (2600000000),"3,385,964","1,460,574",2.32,"1,662,633","1,723,331",0.96
3,대구광역시 (2700000000),"2,428,301","1,012,031",2.40,"1,200,470","1,227,831",0.98
4,인천광역시 (2800000000),"2,927,925","1,207,030",2.43,"1,466,384","1,461,541",1.00
5,광주광역시 (2900000000),"1,450,439","605,180",2.40,"717,934","732,505",0.98
6,대전광역시 (3000000000),"1,469,981","623,274",2.36,"733,529","736,452",1.00
7,울산광역시 (3100000000),"1,144,299","461,192",2.48,"587,450","556,849",1.05
8,세종특별자치시 (3600000000),"330,996","130,890",2.53,"165,186","165,810",1.00
9,경기도 (4100000000),"13,079,281","5,329,886",2.45,"6,577,750","6,501,531",1.01
10,강원도 (4200000000),"1,527,107","703,118",2.17,"768,190","758,917",1.01
11,충청북도 (4300000000),"1,589,204","708,126",2.24,"804,518","784,686",1.03
12,충청남도 (4400000000),"2,110,889","942,510",2.24,"1,074,921","1,035,968",1.04
13,전라북도 (4500000000),"1,812,133","802,160",2.26,"901,090","911,043",0.99
14,전라남도 (4600000000),"1,854,543","854,871",2.17,"929,926","924,617",1.01
15,경상북도 (4700000000),"2,650,475","1,204,637",2.20,"1,334,193","1,316,282",1.01
16,경상남도 (4800000000),"3,345,561","1,425,251",2.35,"1,682,967","1,662,594",1.01
17,제주특별자치도 (5000000000),"664,944","287,005",2.32,"334,577","330,367",1.01

In [7]:
df_pop.loc[1, '행정구역'] = '서울'
df_pop.loc[2, '행정구역'] = '부산'
df_pop.loc[3, '행정구역'] = '대구'
df_pop.loc[4, '행정구역'] = '인천'
df_pop.loc[5, '행정구역'] = '광주'
df_pop.loc[6, '행정구역'] = '대전'
df_pop.loc[7, '행정구역'] = '울산'

df_pop

,행정구역,2019년08월_총인구수,2019년08월_세대수,2019년08월_세대당 인구,2019년08월_남자 인구수,2019년08월_여자 인구수,2019년08월_남여 비율
0,전국 (0000000000000),"51,349,072","21,941,330",2.34,"25,613,980","25,735,092",1.00
1,서울,"9,577,030","4,183,595",2.29,"4,672,262","4,904,768",0.95
2,부산,"3,385,964","1,460,574",2.32,"1,662,633","1,723,331",0.96
3,대구,"2,428,301","1,012,031",2.40,"1,200,470","1,227,831",0.98
4,인천,"2,927,925","1,207,030",2.43,"1,466,384","1,461,541",1.00
5,광주,"1,450,439","605,180",2.40,"717,934","732,505",0.98
6,대전,"1,469,981","623,274",2.36,"733,529","736,452",1.00
7,울산,"1,144,299","461,192",2.48,"587,450","556,849",1.05
8,세종특별자치시 (3600000000),"330,996","130,890",2.53,"165,186","165,810",1.00
9,경기도 (4100000000),"13,079,281","5,329,886",2.45,"6,577,750","6,501,531",1.01
10,강원도 (4200000000),"1,527,107","703,118",2.17,"768,190","758,917",1.01
11,충청북도 (4300000000),"1,589,204","708,126",2.24,"804,518","784,686",1.03
12,충청남도 (4400000000),"2,110,889","942,510",2.24,"1,074,921","1,035,968",1.04
13,전라북도 (4500000000),"1,812,133","802,160",2.26,"901,090","911,043",0.99
14,전라남도 (4600000000),"1,854,543","854,871",2.17,"929,926","924,617",1.01
15,경상북도 (4700000000),"2,650,475","1,204,637",2.20,"1,334,193","1,316,282",1.01
16,경상남도 (4800000000),"3,345,561","1,425,251",2.35,"1,682,967","1,662,594",1.01
17,제주특별자치도 (5000000000),"664,944","287,005",2.32,"334,577","330,367",1.01

In [8]:
new_pop = df_pop[['행정구역','2019년08월_총인구수']]
new_pop

                     행정구역 2019년08월_총인구수
0     전국  (0000000000000)    51,349,072
1                      서울     9,577,030
2                      부산     3,385,964
3                      대구     2,428,301
4                      인천     2,927,925
5                      광주     1,450,439
6                      대전     1,469,981
7                      울산     1,144,299
8   세종특별자치시  (3600000000)       330,996
9       경기도  (4100000000)    13,079,281
10      강원도  (4200000000)     1,527,107
11     충청북도  (4300000000)     1,589,204
12     충청남도  (4400000000)     2,110,889
13     전라북도  (4500000000)     1,812,133
14     전라남도  (4600000000)     1,854,543
15     경상북도  (4700000000)     2,650,475
16     경상남도  (4800000000)     3,345,561
17  제주특별자치도  (5000000000)       664,944

In [9]:
new_POP = new_pop[new_pop['행정구역'].
             isin(['서울','부산','대구','인천','광주','대전','울산'])]
new_POP

  행정구역 2019년08월_총인구수
1   서울     9,577,030
2   부산     3,385,964
3   대구     2,428,301
4   인천     2,927,925
5   광주     1,450,439
6   대전     1,469,981
7   울산     1,144,299

In [10]:
import glob

excel_file_name = './data/인구_통합.xlsx'
excel_total_file_writer = pd.ExcelWriter(excel_file_name, engine='xlsxwriter')
new_POP.to_excel(excel_total_file_writer, index=False, sheet_name='인구_통합')
excel_total_file_writer.save()

glob.glob(excel_file_name)

['./data/인구_통합.xlsx']

In [11]:
df_pop_1 = pd.read_excel('./data/인구_통합.xlsx')
df_pop_1

  행정구역 2019년08월_총인구수
0   서울     9,577,030
1   부산     3,385,964
2   대구     2,428,301
3   인천     2,927,925
4   광주     1,450,439
5   대전     1,469,981
6   울산     1,144,299

In [12]:
pop_sum = pd.DataFrame(df_pop_1.sum(), columns=['계'])
pop_sum

                                                               계
행정구역                                              서울부산대구인천광주대전울산
2019년08월_총인구수  9,577,0303,385,9642,428,3012,927,9251,450,4391...

In [13]:
pop2  = new_POP.append(pop_sum.T)
pop2

             행정구역                                      2019년08월_총인구수
1              서울                                          9,577,030
2              부산                                          3,385,964
3              대구                                          2,428,301
4              인천                                          2,927,925
5              광주                                          1,450,439
6              대전                                          1,469,981
7              울산                                          1,144,299
계  서울부산대구인천광주대전울산  9,577,0303,385,9642,428,3012,927,9251,450,4391...

In [14]:
pop2.loc['계', '행정구역']   = '전체'
pop2

  행정구역                                      2019년08월_총인구수
1   서울                                          9,577,030
2   부산                                          3,385,964
3   대구                                          2,428,301
4   인천                                          2,927,925
5   광주                                          1,450,439
6   대전                                          1,469,981
7   울산                                          1,144,299
계   전체  9,577,0303,385,9642,428,3012,927,9251,450,4391...

In [15]:
excel_file_name = './data/인구_최종.xlsx'

excel_total_file_writer = pd.ExcelWriter(excel_file_name, engine='xlsxwriter')
pop2.to_excel(excel_total_file_writer, index=False, sheet_name='인구_통합')
excel_total_file_writer.save()

glob.glob(excel_file_name)

['./data/인구_최종.xlsx']